div {
  display: flex;
}
.clock-page {
  background: #414141;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.clock-button {
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  background: #ccc;
  cursor: pointer;
}

.clock-button:hover{
  background: #eee;
}

.laps {
  flex-direction: column;
}

.laps div {
  font-size: 25px!important;
}

.laps div span:last-of-type {
  font-size: 20px!important;
}

input[type=number] {
  text-align: center;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  width: 11%
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}